.wrapper{
    /* position: absolute; */
    top: 0;
    margin: 3.125em 0 3.125em 3.125em;
    border: 1px solid #35304F;
    border-radius: 1.25em;
    /* min-height: 30%; */
    background-color: #110D28;
    width: 30%;
    min-width: 21.6em;
    /* height: fit-content; */
}

.title{
    padding: 1.875em;
    border-bottom: 1px solid #35304F;
}

.title h1{
    color: #d5d4df;
    font-size: 2em;
}

.title span{
    color: #d5d4df;
    opacity: 80%;
    font-size: 1.65rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.description{
    padding: 1.875em;
    color: #d5d4df;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    gap: 1.875em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.description p{
    opacity: 80%;
}

.description label{
    opacity: 50%;
}