.wrapper{
    /* position: absolute; */
    top: 0;
    margin: 3.125em 0 3.125em 3.125em;
    border: 1px solid #35304F;
    border-radius: 1.25em;
    /* min-height: 30%; */
    background-color: #110D28;
    width: 30%;
    min-width: 21.6em;
    max-width: 21.6em;
    /* height: fit-content; */
    min-height: 90vh;
}

.title{
    padding: 1.875em;
    border-bottom: 1px solid #35304F;
}

.title h1{
    color: #d5d4df;
    font-size: 2em;
}

.title span{
    color: #d5d4df;
    opacity: 80%;
    font-size: 1.65rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.description{
    padding: 1.875em;
    color: #d5d4df;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    gap: 1.875em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.description p{
    opacity: 80%;
}

.description label{
    opacity: 50%;
    font-size: 1rem;
}

.playPause{
    font-size: 1.3rem;
    width: 30px;
    height: 30px;
    border: 1px solid #35304F;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 28px;
    cursor: pointer;
    border-radius: 100%;
}

@media (max-width: 768px){
    .wrapper{
        width: 90%;
        min-width: 90%;
        margin: 10%;
        max-width: unset;
    }

    .title, .description{
        padding: 1em;
    }
}